<ul id='history'>
{% for calculation in history %}
    <li>
        <span class='expression'>{{ calculation.expression }}</span>
        <h2>{{ calculation.result }}</h2>
    </li>
{% endfor %}
</ul>
