{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/calculator.js') }}"></script>
{% endblock %}

{% block body %}
    <div>
        {% block calculator %}{% endblock %}
        {% block calculatorHistory %}{% endblock %}
    </div>
{% endblock %}
