{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/calculator.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="calculator-panel">
        <div>
            {% include 'calculator/calculator.html.twig' %}
        </div>
        <div>
            {% include 'calculator/history.html.twig' %}
        </div>
    </div>
{% endblock %}
